html {
   height: 100%;
}

.background{
   background-image: url('../Images/Paws.jpg');
   background-repeat: repeat;
}

.container {
   background-color: black;
   margin-left: auto;
   margin-right: auto;
   width: 1024px;
   height: 100%;
}

.web-title{
   font-family: 'Special Elite', cursive;
   color: white;
   height:6vw;
   text-align: center;
   font-size: 4vw;
}

.main-format {
   background-color: rgb(255, 255, 255);
   height: auto;
   text-align: center;
   padding-top: 3vw;
   padding-left: 17vw;
   padding-right: 17vw;
   padding-bottom: 3vw;
   font-family: 'Special Elite', cursive;
}


.big-text {
   color:black;
   font-family: 'Special Elite', cursive;
   font-size: 2vw;

}

.video-container {
   position: relative;
   max-width: 100%;
   max-height: 100%;
   padding-top: 56.25%;
   padding-bottom: 5vw;
   overflow: hidden;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.button-options{
   text-align: center;
   padding-left: auto;
   padding-right: auto;
   padding-bottom: 50px;
   font-family: 'Special Elite', cursive;
}

.footerWrap {
   width:100%;
   position:fixed;
   bottom: 0px;
}

.footer-banner{
   color: white;
   background-color: rgb(0, 0, 0);
   font-family: 'Special Elite', cursive;
   padding-top: 1vw;
   padding-bottom: 1vw;
   font-size: 0.8vw;
   text-align: center;
   width:100%;
}

.login-form{
   font-family: 'Special Elite', cursive;
   color: black;

}

.main-format-login {
   background-color: rgb(255, 255, 255);
   height: auto;
   text-align: center;
   padding-top: 300px;
   padding-left: 240px;
   padding-right: 240px;
   font-family: 'Special Elite', cursive;
   padding-bottom: 300px;
}

